 
.grid_img_loading{
	max-width:100%;
	display:block;
	margin-left:5px;
	position : relative;
}


 @-webkit-keyframes loading-before {
    0% {
        opacity: 0;
    }   
    29% { 
        opacity: 0;
    }
    30% {
        width: 0;
        height: 0;
        opacity: .9;
        left: 50%;
        top: 0%;
        border-width: 2px;
        border-top-width: 0px;
    }
    100% {
        width: 100%;
        height: 200%;
        opacity: 0;
        left: -25%;
        top: -125%;
        border-width: 25px;
        border-top-width: 5px;
    }
} 

@-webkit-keyframes loading-after {
    0% {
        top: -200%;
        opacity: 0;
        width: 5px;
        height: 7px;
		background-image: url("../images/tear57.png");
    }
    30% {
        opacity: 1;
    }
    40% {
        width: 15px;
        height: 22px;
		background-image: url("../images/tear.png");
        top: 10%;
    }
    100% {
       top: 10%;
    }
}

.loading-icon {
    background-image : url("../images/cupofcoffee10089.png");
    width: 100px;
    height: 87px;
    margin: auto;

    position: absolute;
    left: 0;
    top: 517px;
    bottom: 0;
    right: 0;

    text-align: center;
}
.loading-icon span {
    display: inline-block;
    padding-top: 20px;

    color: #f0f0f0;
    font: normal normal bold 15px sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.loading-icon:before, .loading-icon:after {
    position: absolute;
    content: '';
}
.loading-icon:before {
	margin-top: 30px;
    width: 0;
    height: 0;
    opacity: 0;
    left: 25%;
    top: -50%;
    border-style: double;
    border-color: #8B4513;
    border-radius: 100%;
    
    transform: rotateX(75deg);
    -webkit-transform: rotateX(75deg);
    
    -webkit-animation: loading-before 1s infinite ease-out;
}
.loading-icon:after {
    width: 15px;
    height: 22px;
    
    background-image: url("../images/tear.png");

    top: -50px;
    left: 42px;
    z-index: -1;
    
    -webkit-animation: loading-after 1s infinite ease-in;
}


