.frm-regist{
	padding: 1px 0;
	position: relative;
	z-index: 2;
	float : left;
	height: 256px;

}

.frm-regist-social{
	padding: 1px 0;
	position: relative;
	z-index: 2;
	float: right;
    width: 50%;
    text-align: center;
}

.social-button{
	float: left;
	margin-left: 50px;
}

/*#regist-button-facebook{
	margin: 0 auto 10px auto;
	
}

#regist-button-twister{
	margin: 0 auto 10px auto;
	
}

#regist-button-google-plus{
	margin: 0 auto 10px auto;
	
}*/


